.listcomponent{
    color: #707070;
    line-height: 34px;
    padding-left: 0px;
    margin-top: 104;
}

.listcomponent p{
    display: block;
    font-size: 22px;
    padding-left: 0px;
    margin-bottom: 55px;
    border-top: solid 2px #707070;
    padding-top: 16px;
    margin-top: 16px;
}

.listcomponent ol{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    counter-reset: listItem;
}

.listcomponent li a{
    color: #FF0000;
}

.listcomponent li::before{
    counter-increment: listItem;
    content: "0" counter(listItem) ".";
    display: block;
    font-size: 70px;
    color: #707070;
}